<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Application ID</th>
      <th>User Name</th>
      <th>Pet</th>
      <th>Status</th>
      <th>Submitted</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="petApplication in petApplications">
      <td ng-bind="petApplication.id"></td>
      <td ng-bind="petApplication.user.name"></td>
      <!-- TODO: Fix unsafe URL/hardcoded "localhost" -->
      <td><a ng-href="{{'localhost:9000/#/pets/' + petApplication.pet.id}}"
             ng-bind="petApplication.pet.name">
      </a></td>
      <td ng-bind="statusAsString(petApplication.status)"></td>
      <td ng-bind="Utils.displayDate(petApplication.created_at)"></td>
    </tr>
  </tbody>
</table>
