<h2 ng-bind="pet.name"></h2>

<div class="well">
  <div class="row">
    <span ng-bind="pet.animal + ' •'"></span>
    <span ng-bind="pet.displayBreeds() + ' •'"></span>
    <span ng-bind="pet.age + ' •'"></span>
    <span ng-bind="pet.sex + ' •'"></span>
    <span ng-bind="pet.size"></span>
    <p ng-bind="pet.organization.name"></p>
    <p ng-bind="pet.organization.displayLocation()"></p>
  </div>
  <div class="row">
    <p ng-bind="pet.description"></p>
  </div>

  <div class="row col-md-offset-3">
    <div class="col-md-3">
      <button class="btn btn-primary col-md-offset-4"
              type="button"
              ng-click="showForm(applicationTypes.foster.id)"
              ng-show="pet.isAvailableForFoster() && !isFosterFormVisible">
              Apply to foster
      </button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary col-md-offset-4"
              type="button"
              ng-click="showForm(applicationTypes.adoption.id)"
              ng-show="pet.isAvailableForAdoption() && !isAdoptionFormVisible">
              Apply to adopt
      </button>
    </div>
  </div>
</div>

<!-- TODO: only display for user with proper permissions -->
<div class="row col-md-offset-2">
  <button class="btn btn-primary col-md-offset-4"
          type="button"
          ng-show="!isEditFormVisible"
          ng-click="showEditForm()">
          Edit
  </button>
</div>

<!-- TODO: only display for user with proper permissions -->
<!-- Form for editing avilability/applications for pet by organization admin -->
<form ng-show="isEditFormVisible" class="well" ng-submit="submit(pet)">
  <h3>Availability and Forms</h3>
  <br />
  <div class="form-group">
    <label for="radio">Is this pet adoptable?</label>
    <div class="radio-inline">
      <input type="radio"
             ng-model="pet.isAdoptable"
             ng-value="true">
             Yes
      </input>
    </div>
    <div class="radio-inline">
      <input type="radio"
             ng-model="pet.isAdoptable"
             ng-value="false">
             No
      </input>
    </div>
  </div>

  <div class="form-group">
    <label for="radio">Is this pet fosterable?</label>
    <div class="radio-inline">
      <input type="radio"
             ng-model="pet.isFosterable"
             ng-value="true">
             Yes
      </input>
    </div>
    <div class="radio-inline">
      <input type="radio"
             ng-model="pet.isFosterable"
             ng-value="false">
             No
      </input>
    </div>
  </div>

  <div class="form-group">
    <label for="fosterApplicationFormSelect">Foster Application</label>
    <select class="form-control"
            name="fosterApplicationFormSelect"
            ng-model="pet.fosterApplicationId"
            ng-options="applicationForm.id as applicationForm.name for applicationForm in organizationForms"
            ng-value="pet.fosterApplicationId">
  </div>
  <div class="form-group">
    </select>
    <label for="adoptionApplicationFormSelect">Adoption Application</label>
    <select class="form-control"
            name="adoptionApplicationFormSelect"
            ng-model="pet.adoptionApplicationId"
            ng-options="applicationForm.id as applicationForm.name for applicationForm in organizationForms"
            ng-value="pet.adoptionApplicationId">
    </select>
  </div>

  <button class="btn btn-success col-md-offset-5" type="submit">Update</button>
</form>

<!-- Foster application form -->
<sg-form submittable="true"
         pet="pet"
         application-form-id="pet.fosterApplicationId"
         application-type="applicationTypes.foster.id"
         ng-show="pet.isAvailableForFoster() && isFosterFormVisible">
</sg-form>

<!-- Adoption application form -->
<sg-form submittable="true"
         pet="pet"
         application-form-id="pet.adoptionApplicationId"
         application-type="applicationTypes.adoption.id"
         ng-show="pet.isAvailableForAdoption() && isAdoptionFormVisible">
</sg-form>
