<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Location</th>
      <th>Website</th>
      <th>Contact</th>
      <th>Members</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="organization in organizations">
      <td ng-bind="organization.name"></td>
      <td ng-bind="Utils.displayLocation(organization)"></td>
      <td><a ng-href="{{organization.website}}" ng-bind="organization.website"></a></td>
      <td ng-bind="getContactInfo(organization)"></td>
      <td ng-bind="organization.users.length"></td>
    </tr>
  </tbody>
</table>
