<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Location</th>
      <th>Website</th>
      <th>Contact</th>
      <th>Members</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="organization in organizations">
      <td>{{organization.name}}</td>
      <td>{{organization.city}}, {{organization.state_province}}</td>
      <td><a ng-href="{{organization.website}}">{{organization.website}}</a></td>
      <td>{{getContactInfo(organization)}}</td>
      <td>{{organization.users.length}}</td>
    </tr>
  </tbody>
</table>
