<div class="row">
<div class="col-md-6 col-md-offset-3">
<h2>Register a new account</h2>
<br />
<form name="userRegistrationForm" ng-submit="register(userRegistrationForm.$valid)" role="form" novalidate ng-init="registrationForm = {}">
  <div class="form-group" ng-class="{ 'has-error' : submitted && userRegistrationForm.email.$invalid && !userRegistrationForm.email.$pristine }">
    <label>Email</label>
    <input type="email"
           name="email"
           ng-model="registrationForm.email"
           required="required"
           class="form-control"/>
   <div ng-messages="submitted && userRegistrationForm.email.$error">
     <p class="help-block" ng-message="required">Please enter a valid email address.</p>
     <p class="help-block" ng-message="email">Please enter a valid email address.</p>
   </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : submitted && userRegistrationForm.password.$invalid && !userRegistrationForm.password.$pristine }">
    <label>Password</label>
    <input type="password"
           name="password"
           ng-model="registrationForm.password"
           required="required"
           ng-minlength="8"
           class="form-control"/>
   <div ng-messages="submitted && userRegistrationForm.password.$error">
     <p class="help-block" ng-message="required">Please enter a password.</p>
     <p class="help-block" ng-message="minlength">Your password must be at least 8 characters.</p>
   </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : submitted && userRegistrationForm.password_confirmation.$invalid && !userRegistrationForm.password_confirmation.$pristine }">
    <label>Password confirmation</label>
    <input type="password"
           name="password_confirmation"
           ng-model="registrationForm.password_confirmation"
           required="required"
           class="form-control"
           ng-model="registrationForm.password_confirmation"
           ui-validate=" '$value==registrationForm.password' "
           ui-validate-watch=" 'registrationForm.password' "/>
     <div ng-messages="submitted && userRegistrationForm.password_confirmation.$error">
       <p class="help-block" ng-message="validator">Passwords do not match.</p>
     </div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Register</button>
</form>
</div>
</div>
