<form name="newApplicationForm" novalidate ng-submit="submit(newApplicationForm.$valid, action, applicationForm, deletedQuestions)" role="form">

  <!-- Internal form name -->
  <div class="well">
    <ng-form name="innerForm">
      <div class="form-group" ng-class="{ 'has-error' : newApplicationForm.$submitted && innerForm.formName.$invalid }">
        <label>Form name</label>
        <input class="form-control"
               type="text"
               name="formName"
               placeholder="Internal name (e.g., Adoption form №1, Foster application form №2, etc.)"
               ng-model="applicationForm.name"
               required>
        <div ng-messages="newApplicationForm.$submitted && innerForm.formName.$error">
          <p class="help-block" ng-message="required">Please provide a name for this form.</p>
        </div>
      </div>
    </ng-form>
  </div>

  <!-- Questions -->
  <div class="well" ng-repeat="question in applicationForm.questions">
    <ng-form name="innerForm">
        <br />
        <div class="form-horizontal">
            <div class="form-group" ng-class="{ 'has-error' : newApplicationForm.$submitted && innerForm.questionPosition.$invalid }">
              <label class="col-md-2 control-label horizontal-label">Question</label>
              <div class="col-xs-2">
                  <input class="form-control horizontal-input"
                         ng-pattern="integers"
                         name="questionPosition"
                         ng-model="question.position"
                         required>
              </div>
              <div ng-messages="newApplicationForm.$submitted && innerForm.questionPosition.$error">
                <p class="help-block" ng-message="pattern">Please enter a whole number greater than zero.</p>
                <p class="help-block" ng-message="required">Please enter a whole number greater than zero.</p>
              </div>
              <button class="horizontal-button btn btn-danger btn-xs"
                      type="button"
                      ng-click="deleteQuestion(applicationForm, $index, deletedQuestions)"
                      ng-show="applicationForm.questions.length > 1">
                      X
              </button>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : newApplicationForm.$submitted && innerForm.questionBody.$invalid }">
          <input class="form-control"
                 type="text"
                 name="questionBody"
                 placeholder="Type a question here..."
                 ng-model="question.body"
                 required>
          <div ng-messages="newApplicationForm.$submitted && innerForm.questionBody.$error">
            <p class="help-block" ng-message="required">Please provide a question.</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : newApplicationForm.$submitted && innerForm.questionInputType.$invalid }">
          <select class="form-control"
                  name="questionInputType"
                  ng-model="question.inputType"
                  ng-options="type.id as type.name for type in formQuestionTypes"
                  required>
            <option value="" disabled>Select a type of question...</option>
          </select>
          <div ng-messages="newApplicationForm.$submitted && innerForm.questionInputType.$error">
            <p class="help-block" ng-message="required">Please provide a type of question.</p>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="question.isRequired"> Answer required
            </label>
          </div>
        </div>
    </ng-form>

    <!-- Answers -->
    <div ng-show="question.requiresAnswer()" class="col-md-10.5 col-md-offset-1">
      <ng-form name="questionForm" ng-repeat="answer in question.answers">
        <ng-form name="innerForm" id="bottom-question-index-{{$parent.$index}}-answer-index-{{$index}}">
          <div class="form-group" ng-class="{ 'has-error' : newApplicationForm.$submitted && innerForm.answerBody.$invalid }">
            <label for="answerBody" ng-bind="'Answer ' + ($index + 1)" />
            <button class="btn btn-danger btn-xs"
                    type="button"
                    ng-click="deleteAnswer($parent.question, $index)"
                    ng-show="question.answers.length > 1">x
            </button>
            <input class="form-control"
                   type="text"
                   name="answerBody"
                   placeholder="Type an answer here..."
                   ng-model="question.answers[$index].body"
                   ng-required="question.requiresAnswer()">
            <div ng-messages="newApplicationForm.$submitted && innerForm.answerBody.$error">
              <p class="help-block" ng-message="required">Please provide an answer (or remove this blank one) for this question.</p>
            </div>
          </div>
        </ng-form>
      </ng-form>
      <button class="btn btn-primary" type="button" ng-click="addAnswer(applicationForm, $index)">Add answer</button>
    </div>
  </div>
  <button class="btn btn-primary" type="button" ng-click="applicationForm.addBlankQuestion()">Add question</button>

  <div class="row">
    <button type="submit"
            class="btn btn-success col-md-offset-5"
            ng-bind="submitButtonText">
    </button>
  </div>
</form>

<div id="bottom"></div>
